{% extends "auth_base.html" %}

{% block content %}
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Reset your password!</h1>
              </div>
              <div style="margin:3rem">
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            </div>
            <div style="text-align:right">
              <a class="btn btn-primary" href="{% url 'password_reset' %}">Back</a>
            </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
