{% extends 'auth_base.html' %}
{% block content %}
  {% load crispy_forms_tags %}
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Reset reset Completed</h1>
          </div>
            <h1>Password set</h1>
            <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
        </div>
    </div>
  </div>
</div>
{% endblock %}