{% extends "account/auth_base.html" %}

{% block content %}
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Logged out!</h1>
              </div>
              <div style="margin:3rem">
                <p>You have been successfully logged out. You can <a href="{% url 'login' %}">log-in again</a>.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
