{% extends "account/base.html" %}

{% load static %}

{% block title %}Register Done{% endblock %}

{% block head_css %}
{% endblock %}


{% block content %}
                           
    <div class="card-body p-4"> 

        <div class="text-center">
            <a href="#" class="mb-5 d-block auth-logo">
                <img src="{% static 'images/logo.svg' %}" alt="HR TECH logo" height="100" class="logo logo-dark">
                <img src="{% static 'images/logo.svg' %}" alt="HR TECH logo" height="100" class="logo logo-light">
            </a>
        </div>

        <div class="text-center mt-2">
            <h4 style="color: #164194;">Email Confirmation Sent.</h4>
        </div>

        {% if messages %}
            {% for message in messages %}
            <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <div class="p-1 mt-4">
            <!-- <div class="alert text-center col-lg-8 mb-4" style="background-color: #e8ecf5;" role="alert"> -->
            <div class="alert text-center mb-4" style="background-color: #e8ecf5;" role="alert">
                <br/>
                We've emailed you instructions for confirming your email address and activating your account. You should receive them shortly.
                <br/>
                <br/>
                If you have not received an email, please check your spam folder.
                <br/>
                <br/>
                <br/>
            </div>

        </div>

    </div>


    {% block javascript %}
    {% endblock %}

{% endblock %}
                            